body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#main-heading {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.intro {
    padding: 15px;
    margin: 10px auto;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.styled-image {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ccc;
    width: 150px;
    height: auto;
    border-radius: 10px;
}
